.dbutton{
    .buttonRPS{
      cursor: pointer;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    
    }
    .rock{
       @include button($rockColor,$rockShadow)
    }
    .paper{
        @include button($paperColor,$paperShadow)
     }
     .scissors{
        @include button($scissorsColor,$scissorsShadow)
     };
     z-index: 1;

}


@media (max-width: 675px){
    .dbutton{
        .buttonRPS{
         cursor: pointer;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        }
        .rock{
           @include button($rockColor,$rockShadow)
        }
        .paper{
            @include button($paperColor,$paperShadow)
         }
         .scissors{
            @include button($scissorsColor,$scissorsShadow)
         }
         z-index: 1;

    }

    .insidebtn{
      cursor: pointer;
        background-color: white;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 -6px rgba(231, 230, 230, 0.708);
    }


}
.insidebtn{
   cursor: pointer;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;

    box-shadow: 0 -6px rgba(231, 230, 230, 0.708);
}